* {
  margin: 0;
  padding: 0;
  user-select: none;
}
body {
  background-color: #3d3d3d;
}
a {
  text-decoration: none;
  color: #777;
}
.w {
  width: 1435px;
  margin: 0 auto;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 20px;
  font-weight: 500;
  line-height: 55px;
  margin-left: 20px;
  user-select: none;
  color: white;
  font-weight: 100;
}
.mask {
  background-color: #222225ed;
  position: fixed;
  opacity: 0.9;
  width: 100%;
  height: 100%;
  display: none;
}
.mask .maskBg {
  border-radius: 5px;
  display: block;
  margin: 200px auto;
}
.noContent {
  text-align: center;
  font-size: 23px;
  color: white;
  font-style: oblique;
  font-weight: 100;
}
.noContent2 {
  font-size: 15px;
  font-weight: 500;
  line-height: 55px;
  margin-left: 20px;
  user-select: none;
  color: white;
  font-weight: 100;
  text-align: center;
}
.taskMask {
  position: fixed;
  bottom: 10px;
  right: 15px;
  background-color: #654c4c;
  height: 70px;
  width: 385px;
  text-align: center;
  line-height: 70px;
  border-radius: 10px;
  color: white;
  font-weight: 700;
  display: none;
}
.content .top {
  height: 65px;
  background-color: #730707;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  border-bottom: 2px solid #d3c7c7;
}
.content .top input[type="text"] {
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  outline: none;
  height: 32px;
  width: 200px;
  margin-left: 20px;
  padding-left: 15px;
  border-radius: 5px;
}
.content .top input.pageNumber {
  width: 35px;
  margin-left: 10px;
  margin-right: 10px;
}
.content .top .heroBtn,
.content .top .prevBtn,
.content .top .nextBtn,
.content .top .delBtn {
  background-color: white;
  border: 1px solid #ccc;
  margin-left: 5px;
  height: 35px;
  width: 60px;
  border-radius: 5px;
  color: #715858;
  font-weight: 700;
  outline: none;
}
.content .top .delBtn {
  border: 0px solid darkred;
  background-color: darkgoldenrod;
  color: white;
}
.content .top .heroBtn:hover,
.content .top .prevBtn:hover,
.content .top .nextBtn:hover {
  background-color: #e7e2e2;
  border: 1px solid #c5b6b6;
  cursor: pointer;
}
.content .body ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: center;
}
.content .body ul .putonLi {
  flex: 0 0 18%;
  height: 75px;
  margin: 13px 13px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  cursor: pointer;
}
.content .body ul .putonLi .left {
  flex: 0 0 40%;
}
.content .body ul .putonLi .right {
  flex: 0 0 60%;
}
.content .body ul .putonLi .right p:nth-child(1) {
  color: #c8c8c8;
  font-weight: 700;
}
.content .body ul .putonLi .right p:nth-child(2) a {
  font-size: 12px;
}
.content .body ul .teshuLi {
  flex: 0 0 48%;
  height: 75px;
  margin: 13px 13px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #f2dbbf;
  border-radius: 5px;
  cursor: pointer;
}
.content .body ul .teshuLi .heroTypeLeft,
.content .body ul .teshuLi .heroTypeCenter,
.content .body ul .teshuLi .heroTypeRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.content .body ul .teshuLi .heroTypeLeft p,
.content .body ul .teshuLi .heroTypeCenter p,
.content .body ul .teshuLi .heroTypeRight p {
  color: #3f3838;
  font-weight: 700;
  line-height: 75px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 60%;
}
.content .body ul .teshuLi .heroTypeLeft {
  flex: 0 0 40%;
}
.content .body ul .teshuLi .heroTypeLeft .iconPic {
  margin-left: 10px;
}
.content .body ul .teshuLi .heroTypeLeft .iconPic img {
  width: 90%;
}
.content .body ul .teshuLi .heroTypeCenter {
  flex: 0 0 30%;
}
.content .body ul .teshuLi .heroTypeCenter .skillPic {
  margin-left: 10px;
}
.content .body ul .teshuLi .heroTypeRight {
  flex: 0 0 30%;
}
.content .footer {
  width: 200px !important;
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.goToTop {
  position: fixed;
  width: 65px;
  height: 65px;
  bottom: 40px;
  left: 40px;
  background-color: darkred;
  line-height: 65px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  font-size: 13px;
  font-weight: 700;
  color: white;
  display: none;
}
.searchMenu {
  position: fixed;
  width: 70px;
  height: 70px;
  left: 1375px;
  top: 400px;
  background-color: #6d6161;
  color: white;
  border-radius: 10%;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
}
.searchMenu ul {
  list-style: none;
}
.searchMenu ul li {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  text-align: center;
  line-height: 40px;
  font-size: 10px;
  background-color: #6d6161;
  display: none;
  bottom: 15px;
  right: 15px;
  user-select: none;
}
.searchMenu ul li:nth-child(1) {
  color: pink;
  background-color: #e26161;
}
.searchMenu ul li:nth-child(2) {
  color: pink;
  background-color: #69b7ce;
}
.searchMenu ul li:nth-child(3) {
  color: pink;
  background-color: #7fb545;
}
.searchMenu ul li:nth-child(4) {
  color: pink;
  background-color: #deae26;
}
.searchMenu ul li:nth-child(5) {
  color: pink;
  background-color: #a45bca;
}
.searchMenu ul li:nth-child(6) {
  color: pink;
  background-color: #e84daa;
}
